@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700&display=swap');

/* Setting up some vars */

:root {
  --dark-gray: #363C3C;
}

/* / ========================== / */

* {
  box-sizing: border-box; 
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  color: var(--dark-gray);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;

}

#app {
  height: 100vh;
}

#wrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;
}

#main {
  display: flex;
  flex: 1;
}

#content {
  flex: 1;
  padding: 70px 30px 30px 30px;
}

#sidebar{
  flex: 0 0 20vw;
  order: -1;
  width: 320px;
  min-width: 320px;
  background: #D6D8D8;
  padding: 70px 30px 30px 30px;
}

.white-button {
  width:100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid var(--dark-gray);
  border-radius: 3px;
  font-weight: 700;
  font-size: 1.2rem;
}

.short-button {
  width:150px;
  height: 50px;
  background-color: #fff;
  border: 1px solid var(--dark-gray);
  border-radius: 3px;
  font-weight: 700;
  font-size: 1.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100%;
}
.content__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #00ff00;
  width: 180px;
  height: 200px;
  margin: 0px 20px 20px 20px;
  border: 1px solid #fff;
  /* border-radius */
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
/* box-shadow */
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
 box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.content__card-label {
  height: 40px;
  background: #fff;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#detail-view-wrapper {
  height: 100%;
}

#detail-view-wrapper #button-wrapper{
  padding: 10px 0 10px 0;
  text-align: center;
}

.big-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 70%;
  border: 1px solid #000;
  /* border-radius */
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
/* box-shadow */
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
 box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.big-card__label {
  display: flex;
  align-items: center;
  padding: 0 3% 0 3%;
  height: 20%;
  font-size: 2.5em;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

#pagination{
  display: flex;
  justify-content: center;
}

#pagination ul li{
  display:inline;
}

.pagination__page {
  list-style: none;
  padding: 0 10px;
  font-size: 1rem;
}

.top-bar-wrapper {
  background-color: var(--dark-gray);
  display: flex;
  height: 75px;
  min-height: 75px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.top-bar__search {
  height: 39px;
  width: 249px;
  border-radius: 6px;
  border: 0;
  color: #b5b5b5;
  padding: 0 10px 0 10px;
  font-size: 1rem;
}

.sidebar__families li {
  list-style: none;
}